
.dropdown-menu {
    position: absolute;
    top:150px;
    right: 20px;
    width: 200px;
    z-index: 9999;
    margin-right:550px;
}



.dropdown-menu::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    background: var(--secondary-bg);
    transform: rotate(45deg);
}

.dropdown-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
}

.dropdown-menu.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
}


h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: var(--primary-text-color);
    line-height: 1.2rem;
}

h3 span {
    font-size: 14px;
    color: var(--secondary-text-color);
    font-weight: 400;
}

.dropdown-menu ul li {
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.dropdown-menu ul li:hover a {
    color: rgb(212, 33, 9);
    cursor: pointer;
}

.dropdown-menu ul li:hover img {
    opacity: 1;
    cursor: pointer;
}

.dropdownItem {
   z-index: 5px;
}

.dropdownItem img {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: var(--speed);
}

.dropdownItem a {
    max-width: 100px;
    margin-left: 10px;
    transition: var(--speed);
}

.custom-div {
  
    height: 140px;
    background-color: white;
    display: flex;
    flex-direction: row;

}

.div-row-custon {
    background: linear-gradient(180deg, #FBAF17 0%, #FBA017 100%);
    height: 80px;
    width: 80px;
    border-radius: 15px;
    position: absolute; 
    left: 10px;
    top:10px;

}
.div-row {
    background: linear-gradient(180deg, #FBAF17 0%, #FBA017 100%);
    height: 100px;
    width: 100px;
    border-radius: 15px;
    position: absolute; 
    left: 20px;
    top:20px;
  
}
.div-text {
    margin-left:140px;
    position: absolute;
    margin-top: 50px;
    color: '#202332';
    font-size: 18;
    font-family: 'Gotham';
    font-weight: '500';
    word-wrap: 'break-word' 
}

.custom-div::before {
    content: '';
    position: absolute;
    top: -8;
    left: 50%;
    transform: rotate(45deg);
    width: 20px;
    height: 20px;
    background-color: #fff;
    z-index: 1;
}
// .inner-content {
//     /* Estilos para o conteúdo dentro da div */
//     padding: 20px;
//     font-size: 16px;
//     color: #000;

// }
